body{
    display: flex;
    min-height: 800px;
    align-items: center;
    justify-content: center;
    background-color: hsla(240, 98%, 32%, 0.877);
}

#LoginForm #title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

*{
    background-color: aliceblue;
}
#LoginForm{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
    height: 400px;
    color: hsla(0, 0%, 100%, 0.795);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 3px;
    /* gap: 15px; */
    background-color: hsla(192, 100%, 50%, 0.822);
}

#LoginForm input:focus{
    background-color: hsla(192, 100%, 50%, 0.822);
}
#LoginForm input{
    color: hsla(0, 0%, 100%, 0.795);
    background-color: hsla(192, 100%, 50%, 0.822);
    border: 0px;
    border-radius: 3px;
    min-height: 30px;
    padding: 3px;
    margin: 10px;
}

#LoginForm button{
    color: hsla(0, 0%, 100%, 0.795);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border-color: hsla(192, 100%, 50%, 0.822);
    background-color: hsla(240, 98%, 32%, 0.877);
    margin-top: 10px;
    margin-left: 100px;
}